name: Deploy

on:
  push:
    tags:
      - '*.*.*'

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/arm64
          tags: |
            tklcat/takealook-backend:${{ github.ref_name }}
            tklcat/takealook-backend:latest

      - name: Copy docker-compose.yml to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: "docker-compose.yml"
          target: ${{ secrets.DEPLOY_PATH }}

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            
            export TAG=${{ github.ref_name }}
            export DB_USERNAME=${{ secrets.DB_USERNAME }}
            export DB_PASSWORD='${{ secrets.DB_PASSWORD }}'
            export DB_URL='${{ secrets.DB_URL }}'
            export JWT_SECURE='${{ secrets.JWT_SECURE }}'
            export R2_ACCOUNT_ID=${{ secrets.R2_ACCOUNT_ID }}
            export R2_ACCESS_KEY=${{ secrets.R2_ACCESS_KEY }}
            export R2_SECRET_KEY=${{ secrets.R2_SECRET_KEY }}
            export R2_BUCKET_NAME=${{ secrets.R2_BUCKET_NAME }}
            
            sudo docker compose pull app
            sudo docker compose up -d
